html, body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: sans-serif;
  overflow: hidden;
}
*{
  outline: none;
}

.page-sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width:220px;
  background:#FFF;
  z-index: 999;
}
.page-sidebar .search{
  position: relative;
}
.page-sidebar input[type="search"].searchInput{
  display: block;
  width: 100%;
  font-size: 15px;
  border: none;
  padding-left:25px;
}
.page-sidebar .search:before{
  position: absolute;
  left:10px;
  top:10px;
  content:url("../../public/images/player_assets/zoom.svg");
  width:20px;
  height:20px;
}
.page-sidebar:after{
  position: absolute;
  background-color: rgba(0,0,0,.1);
  width:4px;
  height:100%;
  content:'';
  right:-4px;
  top:0;
}
.page-sidebar .logo{
  height:80px;
  width:100%;
  padding:10px;
  border-bottom:1px solid #E3E3E3;
  box-sizing: border-box;
  position: absolute;
  background:#FFF;
  z-index: 9;
}
.page-sidebar .logo svg{
  height:100%;
}
.page-sidebar .scrollview .account{
  padding-top:80px;
}
.page-sidebar .account{
  border-bottom:1px solid #E3E3E3;
  cursor: pointer;
}
.page-sidebar .account:hover{
  background-color:#F9F9F9;
}
.page-sidebar .account .avatar{
  background:none;
  border:none;
  width:48px;
  height:48px;
  padding:0;
  margin:10px;
  cursor: pointer;
  background:#FFF;
  border-radius: 100%;
  background-size: cover;
  float: left;
}
.page-sidebar .account .pseudo{
  line-height: 64px;
  text-decoration: none;
  color:#666;
}

.page-sidebar .search{
  padding:10px;
  border-bottom:1px solid #E3E3E3;
}
.page-sidebar h3{
  padding-left:10px;
  padding-right:10px;
}

.playlist-list{
  margin:0;
  padding:0;
  width: 100%;
}
.playlist-list li{
  list-style: none;
  padding:0;
  margin:0;
  display: inline-flex;
  width: 100%;
  padding-left: 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.playlist-list li:hover{
  background-color: #F9F9F9;
}
.playlist-list li .cover{
  margin:5px;
  width:56px;
  height:56px;
  background-color:#F0F0F0;
  border-radius: 4px;
  background-size: cover;
}
.playlist-list li .infos{
  padding-top:10px;
  padding-bottom:10px;
}
.playlist-list li .infos .label{
  padding-left: 5px;
  font-size: 14px;
}
.playlist-list li .infos .datas{
  padding-left: 5px;
  font-size: 12px;
  color:#CCC;
  line-height: 20px;
}


.page-main{
  margin-left: 220px;
  overflow: hidden;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.playlist{
  width:100%;
  position: relative;
}


.playlist .player{
  position: absolute;
  width: 100%;
  top:130px;
  z-index: 99;
  background: #333;
  text-align: center;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.15);
  transition: all .4s ease-out;
}
.playlist .waves{
  width:100%;
  height:130px;
  background-color:#333;
  overflow: hidden;
  position: relative;

}
.playlist .waves wave:nth-child(2){
  background:#222;
}
.playlist .navBar{
  width:100%;
  height:45px;
  text-align: center;
  left:0;
  right:0;
  margin:auto;
  position:relative;
}
.playlist .navBar .player_nav{
  height:100%;
  position: relative;
  display: inline-flex;
  left:0;
  right:0;
  margin:auto;
}
.playlist .navBar .player_nav .btn{
  height:100%;
  background-color:rgba(0,0,0,0);
  border:none;
  outline: none;
  cursor: pointer;
  transition: all .2s ease-out;
  background-blend-mode: multiply;
}
.playlist .navBar .player_nav .btn.disabled{
  opacity: .2;
}
.playlist .navBar .player_nav .btn:hover,
.playlist .navBar .player_nav .btn:active{
  outline: none;
  background-color:rgba(255,255,255,.2);
}
.playlist .navBar .player_nav .btn svg{
  height:100%;
}
.playlist .navBar .player_nav .btn svg rect,
.playlist .navBar .player_nav .btn svg path,
.playlist .navBar .player_nav .btn svg polygon,
.playlist .player_options .btn svg rect,
.playlist .player_options .btn svg path,
.playlist .player_options .btn svg polygon{
  fill:#FFF;
  transition: all .2s ease-out;
}
.playlist .navBar .player_nav .btn:active svg rect,
.playlist .navBar .player_nav .btn:active svg path,
.playlist .navBar .player_nav .btn:active svg polygon,
.playlist .navBar .player_nav .btn:hover svg rect,
.playlist .navBar .player_nav .btn:hover svg path,
.playlist .navBar .player_nav .btn:hover svg polygon{
  fill:rgba(0,0,0,.5);
  position: relative;
}
.playlist .player_options{
  position: absolute;
  top:0px;
  right:0;
  z-index: 9;
}
.playlist .player_options .btn{
  background:rgba(0,0,0,.2);
  border:none;
  width:48px;
  height:38px;
  color:#FFF;
  cursor: pointer;
  margin:5px;
  border-radius: 4px;
  transition: all .2s ease-out;
  background-blend-mode: multiply;
  margin-top:-120px;
}
.playlist .player_options .btn:hover{
  background:rgba(0,0,0,.4);
}
.playlist .player_options .btn:hover svg rect,
.playlist .player_options .btn:hover svg path,
.playlist .player_options .btn:hover svg polygon{
  opacity:.7;
}

.playlist .player_options .btn.enabled{
  background:#FFF;
}
.playlist .player_options .btn.enabled svg rect,
.playlist .player_options .btn.enabled svg path,
.playlist .player_options .btn.enabled svg polygon{
  fill:#000;
}

.playlist .player_options .btn.enabled:hover svg rect,
.playlist .player_options .btn.enabled:hover svg path,
.playlist .player_options .btn.enabled:hover svg polygon{
  opacity:.7;
}

.downloadOptions .btn svg path{
  fill:#FFF;
}
.playlist .cover {
  position: absolute;
  top:-120px;
  left:10px;
  z-index: 9;
  width:150px;
  height:150px;
  background-size: cover;
  background-position: center center;
  background-color:#FFF;
  cursor: pointer;
  transition: all .4s ease-out;
  -webkit-box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.1);
  box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.1);
}
.playlist .cover:hover .iconzoom {
  transform:scale(1.2);
}
.playlist .cover .iconzoom {
  width:48px;
  height:48px;
  position: absolute;
  left:0;right:0;top:0px; bottom:0px; margin:auto;
  background:rgba(0,0,0,.7);
  border-radius: 100%;
  transition: transform .2s ease-out;
}
.playlist .cover .iconzoom svg {
  transform:scale(.8);
}
.playlist .infos{
  padding:20px;
  margin:0;
  box-sizing: border-box;
  border-bottom: 1px solid #E3E3E3;
  font-size: 14px;
  line-height: 24px;
  color:#333;
  font-weight: normal;
  background:#F9F9F9;
}
.playlist .cover .iconzoom svg path {
  fill:#FFF;
}
.scrollview {
  width:100%;
  left:0;
  right:0;
  margin:auto;
  height:100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.playlist .scrollview h1 {
  font-family: sans-serif;
  font-size: 24px;
  padding:10px;
  margin:0;
  width:100%;
  border-bottom: 1px solid #E3E3E3;
  box-sizing: border-box;
  padding-top:180px;
}
.title{
  display: inline-flex;
}
.title span{
  line-height: 32px;
}
.title .infos_icon{
  height:32px;
  width:32px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 100%;
  transition: all .2s ease-out;
}
.title .infos_icon:hover{
  background-color:#000;
}
.title .infos_icon:hover svg path{
  fill:#FFF;
}

.playlist .mediasList {
  display: inline;
  margin: 0;
  padding: 0;
}
.playlist .mediasList li {
  list-style: none;
  border-bottom:1px solid #E3E3E3;
  padding:5px;
  box-sizing: border-box;
  display: inline-flex;
  width:100%;
  transition: all .2s ease-out;
  cursor: pointer;
  position: relative;
}
.playlist .mediasList li .progress {
  width:0%;
  height:100%;
  position: absolute;
  background-color:#000;
  top:0;
  left:0;
  opacity: .1;
}
.playlist .mediasList li:hover {
  background-color:#F9F9F9;
}
.playlist .mediasList li .icon {
  width:34px;
  height:34px;
  min-width:34px;
  visibility: hidden;
}
.playlist .mediasList li:hover .icon,
.playlist .mediasList li #playButton.icon {
  visibility: visible;
}
.playlist .mediasList li .icon svg rect,
.playlist .mediasList li .icon svg polygon,
.playlist .mediasList li .icon svg path {
  fill:#666;
}
.playlist .mediasList li .label {
  font-size: 14px;
  padding-top:8px;
  padding-bottom:8px;
  color:#666;
}
.progressDuration{
  position: absolute;
  right:0;
  top:0;
  line-height: 44px;
  padding-right:10px;
  padding-left:10px;
  color:#FFF;
  background-color:#E3E3E3;
  height: 100%;
}

.playlist .loadError{
  position: absolute;
  bottom:80px;
  text-align: center;
  width:100%;
}
.playlist .loadError span{
  padding:10px;
  padding-left:20px;
  padding-right:20px;
  background-color:coral;
  color:#FFF;
  border-radius: 8px;
}
.playlist .loadProgress{
  position: absolute;
  bottom:80px;
  text-align: center;
  width:100%;
}
.playlist .loadProgress div{
  background-color:#333;
  position: relative;
  width:200px;
  left:0;
  right:0;
  margin:auto;
  height:30px;
}
.playlist .loadProgress div span{
  color:#333;
  line-height: 30px;
  float: right;
  padding-right: 5px;
}
.playlist .loadProgress div .barLoad{
  background-color:#FFF;
  color:#FFF;
  position: absolute;
  width:30%;
  height:100%;
  left:0;
  top:0;
  margin:initial;
  overflow: hidden;
}
.playlist .sdisplayCover {
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.5);
  position: absolute;
  top:0;
  left:0;
  z-index: 999;
  /*filter: blur(5px);*/
}
.playlist .sdisplayCover img {
  position: absolute;
  top:0; left:0; right:0; bottom:0;
  margin:auto;
  transition: all .4s ease-out;
  /*transform: translateY(100vh);*/
}
.playlist .sdisplayCover img.showed{
  /*transform: translateY(0);*/
}

.showCover-enter-active {
  transition: all .2s ease-in;
}
.showCover-leave-active {
  transition: all .2s ease-out;
}
.showCover-enter, .showCover-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.showLoader-enter-active{
  transition: all .2s ease-in;
  transition-delay: 250ms;
}
.showLoader-leave-active {
  transition: all .2s ease-out;
}
.showLoader-enter{
  transform:translateY(-100px);
}
.showCover-leave-to{
  transform:translateY(-100px);
  opacity: 0;
}
.open-sidebar{
  position: absolute;
  top: 10px;
  left: -45px;
  background-color: rgba(0,0,0,.4);
  width: 40px;
  height: 38px;
  z-index: 9999;
  transition: all .4s ease-out;
}

.open-sidebar span{
  position: absolute;
  width:60%;
  height:3px;
  background-color: #FFF;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  border-radius: 3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  transition: all .4s ease-out;
}
.open-sidebar span:first-child{
  transform:translateY(-8px);
}
.open-sidebar span:nth-child(2){
  transform:translateY(0px);
}
.open-sidebar span:last-child{
  transform:translateY(8px);
}
.page-sidebar.opened .open-sidebar{
  background:#FFF;
  left: -40px;
  top:40px;
}
.page-sidebar.opened .open-sidebar span{
  background:#000;
}
.page-sidebar.opened .open-sidebar span{
  transform:translateY(0px) rotate(-45deg);
}
.page-sidebar.opened .open-sidebar span:first-child{
  transform:translateY(0px) rotate(-135deg);
}
.page-sidebar.opened:after{
  width:200vh;
  background-color:rgba(0,0,0,.5);
}

.headingwave{
  position: absolute;
  z-index: 9;
  height:130px;
  transition: all .4s ease-out;
  overflow: hidden;
}
.headingwave:after{
  content:"";
  position: absolute;
  bottom:0;
  height:2px;
  background-color: rgba(0,0,0,.1);
  width: 100%;
  left:0;
  z-index: 9;
}


.sticky{

}
.sticky .headingwave{
  height:0px;
}
.sticky .playlist .player{
  top:0px;
}



@media screen and (max-width: 770px){
  .page-sidebar{
    right: -220px;
    left:auto;
    transition: right .2s ease-out;
  }
  .page-sidebar:after{
    right:220px;
  }
  .open-sidebar{
    display: block;
  }

  .playlist .player_options{
    margin-right:50px;
  }
  .page-main{
    margin-left:0;
    min-width: 100%;
  }
  .playlist .scrollview h1 {
    padding-top: 180px;
  }
  .page-sidebar.opened{
    right:0;
    left:auto;
  }
}



@media screen and (max-width: 480px) {
  .sticky .headingwave{
    height:50px;
  }
  .sticky .playlist .player,
  .playlist .player{
    bottom:0;
    top:auto;
    position: absolute;
  }
  .playlist .player_options,
  .playlist .cover {
    top:-100vh;
  }
  .playlist .player_options .btn {
    margin-top:50px;
  }
  .playlist .cover{
    margin-top:55px;
    width: 80px;
    height: 80px;
  }
  .sticky .playlist .cover{
    width:30px;
    height:30px;
  }
  .sticky .playlist .cover .iconzoom{
    width:80%;
    height:80%;
  }

  .playlist .scrollview h1 {
    padding-top: 140px;
  }
  .playlist .mediasList li:last-child{
    margin-bottom:100px;
  }
  .open-sidebar{
    top:5px;
  }
}

@media screen and (orientation: landscape){
  .playlist .sdisplayCover img{
    height:90%;
    max-height: 512px;
    width:auto;
  }
}
@media screen and (orientation: portrait){
  .playlist .sdisplayCover img{
    width:90%;
    max-width: 512px;
    height:auto;
  }
}
