body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #F9F9F9;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-variant-ligatures: normal;
    font-variant-ligatures: contextual;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
  color: #00B7FF;
}
/* COLORS */
.red{
    background-color:#d51419;
    color:#FFF;
}
.centered{
    margin:0 auto !important;
    float: none !important;
    text-align: center;
}
.idkids-icons.sm{
    width:16px;
    height:16px;
    font-size:16px;
    line-height: 16px;
}
.idkids-icons{
    width:32px;
    height:32px;
    font-size: 32px;
    line-height: 32px;
}
.idkids-icons.lg{
    width:64px;
    height:64px;
    font-size: 64px;
    line-height: 64px;
}
.idkids-icons.xl{
    width:128px;
    height:128px;
    font-size: 128px;
    line-height: 128px;
}

/* ------ HEADER -------- */
.header{
    position: fixed;
    top:0;
    width: 100%;
    height:64px;
    display: inline;
    background-color: #FFF;
    z-index: 99;
    -webkit-transition: height .6s ease-out;
    -moz-transition: height .6s ease-out;
    -o-transition: height .6s ease-out;
    transition: height .6s ease-out;
}
.header.sticky{
    height:0px;
}
.header .short_cuts{
    float: right;
    height:100%;
}
.header.sticky .short_cuts{
    height:100%;
    overflow: hidden;
}
.header .short_cuts ul{
    padding:0;
    margin:0;
    display: inline-flex;
}
.header .short_cuts ul li{
    padding:0;
    margin:0;
    list-style: none;
    height:64px;
    min-width:64px;
    background-color: #FFF;
    color:#818181;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.header .short_cuts ul li .icon{
    font-size: 40px;
    text-align: center;
    width:100%;
}
.header .short_cuts ul li:hover,
.header .short_cuts ul li:active,
.header .short_cuts ul li:focus{
    background-color: #F0F0F0;
    color: #000;
}
.header .short_cuts ul li .subnav{
    position: absolute;
    top:100%;
    right:-20px;
    z-index: 999;
    background:#FFF;
    padding: 0;
    width:206px;
    display: inline;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) perspective( 600px ); /* Safari */
    transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) perspective( 600px );
    transform-origin: top right;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.header .short_cuts ul li .subnav:before{
    content:'';
    position: absolute;
    top:-10px;
    right:23px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.header .short_cuts ul li:hover .subnav,
.header .short_cuts ul li:focus .subnav,
.header .short_cuts ul li:active .subnav{
    visibility: visible;
    opacity: 1;
    right:0px;
    -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg); /* Safari */
    transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
}
.header .short_cuts ul li .subnav ul{
    max-height: 60vh;
    overflow: scroll;
    display: inline;
    width:206px;
    position: absolute;
    margin-bottom:10px;
    background: #FFF;
    padding: 10px;
    -moz-box-shadow: 0 2px 25px -10px #656565;
    -webkit-box-shadow: 0 2px 25px -10px #656565;
    -o-box-shadow: 0 2px 25px -10px #656565;
    box-shadow: 0 2px 25px -10px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=25);
}
.header .short_cuts ul a{
    text-decoration: none;
}
.header .short_cuts ul a .icon{
    color:#818181;
}
.header .short_cuts ul a .indice{
  position: absolute;
  right:10px;
  top:10px;
  padding:5px;
  padding-top:3px;
  padding-bottom:3px;
  font-size: 8px;
  font-weight: bold;
  color:#FFF;
  background-color: #d51419;
  border-radius: 40px;
}
.header .short_cuts ul li .subnav.widgets{
    display: inline-flex;
}
.header .short_cuts ul li .subnav.widgets ul{
    display: inline-block;
}
.header .short_cuts ul li .subnav.widgets li{
    width: 64px;
    height:100px;
    margin:2px;
    display: block;
    float: left;
    text-align: center;
}
.header .short_cuts ul li .subnav.widgets li .icon{
    width: 44px;
    height:44px;
    margin:10px;
    background-color:#E3E3E3;
}
.header .short_cuts ul li .subnav.widgets li span{
    padding:0;
}
.header .short_cuts ul li .subnav.account{
    width:304px;
    padding:0;
    display: table;
    -moz-box-shadow: 0 2px 25px -10px #656565;
    -webkit-box-shadow: 0 2px 25px -10px #656565;
    -o-box-shadow: 0 2px 25px -10px #656565;
    box-shadow: 0 2px 25px -10px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=25);
}
.header .short_cuts ul li .subnav.account .account_infos{
    padding:10px;
    display: inline-flex;
}
.header .short_cuts ul li .subnav .account_infos .label{
    font-weight: bold;
}
.header .short_cuts ul li .subnav .account_infos .email{
    color: #818181;
}
.header .short_cuts ul li .subnav .options{
    display: inline-flex;
    border-top:1px solid #E3E3E3;
    padding-left:10px;
    text-align: center;
    background:#F0F0F0;
    width: 100%;
}
.header .avatar{
    width:64px;
    height:64px;
    background:#CCC;
    margin:10px;
    overflow: hidden;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.header .avatar.sm{
    width:48px;
    height:48px;
}
.header .avatar img{
    width: 100%;
    height:auto;
}

.header .short_cuts ul li .subnav .account_infos .infos{
    width:200px;
}

.header .short_cuts ul li ul li{
    display: inline-table;
    width:100%;
    padding-top:5px;
    padding-bottom: 5px;
    height:auto;
}
.header .short_cuts ul li ul li a{
  display: block;
  text-decoration: none;
}
.header .short_cuts ul li ul li .icon{
    width:32px;
    height:32px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: left;
}
.header .short_cuts ul li ul li span{
    line-height: 32px;
    padding-left:10px;
    padding-top:2px;
    text-decoration: none;
    color:#333;
}

header .scroll_progress{
    position: absolute;
    height:2px;
    width:0%;
    bottom:-2px;
    background-color:#CCC;
}

header .hor_nav{
    position: absolute;
    height:44px;
    bottom:-44px;
    left:0;
    text-align: center;
    background:#FCFCFC;
    width:100%;
    overflow: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=25);
}

header .hor_nav::-webkit-scrollbar {
    width: 0px;
    height:0px;
    background: transparent; /* make scrollbar transparent */
}
header .hor_nav ul{
    display: inline-flex;
    display: -webkit-inline-box;
    margin:0;
    padding: 0;
    height:44px;
}
header .hor_nav ul a{
    display: table;
}
header .hor_nav ul li{
    list-style: none;
    line-height: 24px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    cursor: pointer;
    position: relative;
}

header .hor_nav ul li:after{
    content:'';
    height:2px;
    width:0%;
    left:0;
    right:0;
    margin:auto;
    position: absolute;
    bottom:0;
    background: #818181;
    -webkit-transition: width .2s ease-out;
    -moz-transition: width .2s ease-out;
    -o-transition: width .2s ease-out;
    transition: width .2s ease-out;
}
header .hor_nav ul a{
    text-decoration: none;
    color:#1d1d1d;
}

header .hor_nav ul li:hover:after, header .hor_nav ul li.selected:after{
    width:80%;
}


footer{
    background: #f2f2f2;
    color:#222;
}
footer hr{
    width:100%;
    border:none;
    border-bottom: 1px solid #E2E2E2;
}
footer h3{
    font-size: 17px;
    margin:0;
    padding-left:5px;
    line-height: 30px;
}
footer .icon{
    width:32px;
    height:32px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin:5px;
    display: inline-block;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
footer .icon:hover{
    transform: scale(.95);
}
footer .col{
    padding-left: 10px;
}
footer ul{
    margin:0;
    padding:0;
}
footer .row{
    padding:20px;
}
footer ul li{
    margin:0;
    padding:0;
    list-style: none;
    line-height: 24px;
    padding-left:5px;
    padding-bottom:5px;
}
footer ul li a{
    text-decoration: none;
    color:#6E6E6E;
    position: relative;
    padding-bottom:5px;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    transition: color .2s ease-in;
}
footer ul li a:after{
    content:'';
    width:0%;
    height:1px;
    background:#6D6D6D;
    bottom:0;
    right: 0;
    position: absolute;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -o-transition: width .2s ease-in;
    transition: width .2s ease-in;
}
footer ul li a:hover{
    color:#5d5d5d;
}
footer ul li a:hover:after{
    width:100%;
    background:#5d5d5d;
}

.container.with_head{
    padding-top:108px;
    text-align: center;
}

.head_title{
  padding:40px;
  position: relative;
  margin-bottom:40px;
}
.head_title::after{
  content: '';
  position: absolute;
  overflow: hidden;
  top:90%;
  left:-10%;
  width:120%;
  height:40px;
  transform: rotate(-.7deg);
  background-color:#f5655f;
}
.head_title.red{
  background-color:#f5655f;
  color:#FFF;
}
.container .row{
    max-width: 980px;
    text-align: left;
    margin:0 auto;
    display: block;
    position: relative;
    overflow: hidden;
}
h3{
  font-size: 25px;
  line-height: 35px;
  color:#333;
  font-weight: 200;
}
p{
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #797373;
  max-width: 100%;
  font-family: sans-serif;
}
.red p{
  color: #FFFFFF;
}
.page ul{
  margin:0;
}
.page ul li{
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom: 1px solid #E3E3E3;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #797373;
  max-width: 100%;
  font-family: sans-serif;
  word-break: break-all;
}
.page ul li:last-child{
  border:none;
}
/* ------------- GRID COLUMNS PROCESS -------------- */
.col{
    display: table;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.col-md-2{
    width:16%;
}
.col-md-3{
    width:25%;
}
.col-md-4{
    width:33%;
}
.row .col-md-4:last-child{
    width:34%;
}
.col-md-5{
    width:41%;
}
.col-md-6{
    width:50%;
}
.col-md-7{
    width:58%;
}
.col-md-8{
    width:66%;
}
.col-md-9{
    width:75%;
}
.col-md-10{
    width:83%;
}
.col-md-12{
    width:100%;
}


/* --------- BUTTONS CTA ---------- */
.buttons.inline{
    display: inline-flex;
}
.btn{
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
    border:none;
    background-color:#CCC;
    color:#FFF;
    margin:10px;
    margin-left:0px;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
    outline:none !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    display: table;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.btn .icon{
  float: left;
}
.btn .label{
  float: left;
  line-height: 33px;
}
.btn:hover{
    transform: scale(1.02);
    -moz-box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
    -webkit-box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
    -o-box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
    box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,.3), Direction=134, Strength=20);
}
.btn:focus{
    outline:0;
}
.btn.btn-primary{
    background-color:darkblue;
    color:#FFF;
}
.btn.btn-primary:hover{
    background-color:#2c2caf;
    color:#FFF;
}
.btn.btn-warning{
    background-color:coral;
    color:#FFF;
}
.btn.btn-warning:hover{
    background-color:#ff9f7b;
    color:#FFF;
}
.btn.btn-success{
    background-color:lightseagreen;
    color:#FFF;
}
.btn.btn-success:hover{
    background-color:#5acac3;
    color:#FFF;
}
.btn.btn-danger{
    background-color:red;
    color:#FFF;
}
.btn.btn-danger:hover{
    background-color:#ff6a6a;
    color:#FFF;
}
.btn.btn-disabled{
    background-color:#E3E3E3;
    pointer-events: none;
}
.btn.btn-danger.inactive{
    background-color: darkgrey;
    color:#FFF;
}

.btn-xs{
    padding:4px;
    padding-left:8px;
    padding-right:8px;
    font-size: 12px;
}
.btn-sm{
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    font-size: 14px;
}
.btn-m{
    padding:8px;
    padding-left:15px;
    padding-right:15px;
    font-size: 17px;
}
.btn-lg{
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    font-size: 20px;
}

/* --------------- BRANDS --------------- */
.header .logo{
    width:200px;
    height: 64px;
    margin-left:20px;
    float: left;
}


/* --------------- LOGOS --------------- */
.logo.brand{
    background-image:url(../images/assets/logo_brand.svg);
    background-repeat: no-repeat;
    background-position: left center;
}
.idkids{
    background-image:url(../images/assets/logo_idkidscommunity_sbrame.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.logo.idkids{

}
.okaidi{
    background-image:url(../images/assets/logo_okaidi.svg);
}
.obaibi{
    background-image:url(../images/assets/logo_obaibi.svg);
}
.jacadi{
    background-image:url(../images/assets/logo_jacadi.svg);
}
.oxybul{
    background-image:url(../images/assets/logo_oxybul.svg);
}
.rclv{
    background-image:url(../images/assets/logo_rclv.svg);
}
.njoy{
    background-image:url(../images/assets/logo_njoy.svg);
}
.bubble{
    background-image:url(../images/assets/logo_bubble.svg);
}
.joyvox{
    background-image:url(../images/assets/logo_joyvox.svg);
}
.joybox{
    background-image:url(../images/assets/logo_joybox.svg);
}

/* --------------- ICONS --------------- */
.icon.okaidi{
    background-image:url(../images/assets/icon_okaidi.svg);
}
.icon.obaibi{
    background-image:url(../images/assets/icon_obaibi.svg);
}
.icon.jacadi{
    background-image:url(../images/assets/icon_jacadi.svg);
}
.icon.oxybul{
    background-image:url(../images/assets/icon_oxybul.svg);
}
.icon.rclv{
    background-image:url(../images/assets/icon_rclv.svg);
}
.icon.njoy{
    background-image:url(../images/assets/icon_njoy.svg);
}
.icon.bubble{
    background-image:url(../images/assets/icon_bubble.svg);
}
.icon.joyvox{
    background-image:url(../images/assets/icon_joyvox.svg);
}
.icon.joybox{
    background-image:url(../images/assets/icon_joybox.svg);
}

.social_buttons{
  display: inline-block;
  padding:0;
}
.social_buttons li{
  display: inline-block;
  height:48px;
  background:#333;
  list-style: none;
  padding:5px;
  margin:5px;
  color: #FFF;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.social_buttons li:hover{
  transform: scale(1.02);
  -moz-box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
  -webkit-box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
  -o-box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
  box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,.3), Direction=134, Strength=20);
}
.social_buttons li span{
  float:left;
  font-family: 'idkids-icons';
  font-size: 38px;
}
.social_buttons li div{
  float:left;
  font-family: sans-serif;
  padding:8px;
  font-size: 17px;
}
.social_buttons li.facebook{
  background-color:#4166b2;
}
.social_buttons li.twitter{
  background-color:#1ca1f2;
}
.social_buttons li.pinterest{
  background-color:#bd091c;
}
.social_buttons li.google{
  background-color:#dc4e41;
}
@media screen and (max-width: 640px) {
    .col{
        width:100% !important;
    }
}
@media screen and (max-width: 420px) {
    .header .logo{
        width: 50px;
        height: 50px;
        float: left;
        background-size: cover;
        background-position: center center;
        background-image:url(../images/assets/icon_brand.svg);
    }
    header .hor_nav{
        /*-moz-box-shadow: 0px 2px 15px -10px #656565;
        -webkit-box-shadow: 0px 2px 15px -10px #656565;
        -o-box-shadow: 0px 2px 15px -10px #656565;
        box-shadow: 0px 2px 15px -10px #656565;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=25);*/
    }
    .row{
      display: -webkit-box;
      display: -moz-box;
      display: box;

      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
    }
    .col{
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
    }
    .col.first_order{
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
    }
}`


@media all and (display-mode: standalone) {
  body {
  }
}

xmp {
    font-family: Cambria, Georgia;
    margin:10px;
    background-color:#000;
    color:#FFF;
    padding:10px;
}
.script {
    font-size: 100%;
    font-family: Cambria, Georgia;
    margin:10px;
    background-color:#000 !important;
    color:#FFF;
    padding:10px;
}
