extends ../header

block content
  div.container.with_head.page
    div.head_title
      h1 Bienvenue
    div.row
      div.col-md-8.centered
        h3 Introduction
        p Joyvox est le label musical d’ÏDKIDS.Community, qui édite et produit des contenus artistiques, culturels et musicaux contribuant à l’éveil et à l’éducation des enfants.
        h3 Histoire
        p Créé en 2012, Joyvox prend part au mouvement, et dénombre déjà 8 créations (CD, livre-CD et contes musicaux) en partenariat avec plusieurs labels de musique et maisons d’édition et portés par les voix de Domitille et Amaury : Maurice Carême, L’Ours et le Soleil, Ballades Enfantines, Les Petits Bonheurs, Le Fantôme de l’Opéra, Simple comme Bonjour, et tout récemment, Zanimomusic. Avec l’album We Are World Citizens, Joyvox s’engage spécifiquement pour les droits des enfants du monde, et la construction d’un monde meilleur, en délivrant un message optimiste de paix et de diversité.
    div.separator_title
      div.diagonal
      div.swiper-container(data-swiper="apps_swiper")
        div.swiper-wrapper
          each item in app.locals.applications
            div.swiper-slide
              div.app_item
                div.icon(style="background-image:url("+item.icon+")")
                div.label= item.label
                div.description= item.description
                br
                a.btn.btn-success.centered.host(href=item.host) Visiter
        div.swiper-pagination.swiper-pagination-black
        //-div.swiper-button-prev.swiper-button-black
        //-div.swiper-button-next.swiper-button-black
      
    div.row
      div.col-md-8.centered
        h3 Productions
        p Les Ballades Enfantines, Les Petits Bonheurs ont fait l’objet de concerts en France et à l’étranger, notamment dans le cadre de festivals de la francophonie à New York, Hong-Kong, en Corée et en Chine. Domitille et Amaury se produisent actuellement sur scène avec le spectacle Simple comme bonjour.
