extends ../header

block content
  div.container.with_head.page
    div.head_title
      h1 Conditions générales d'utilisation
    div.row
      div.col-md-8.centered
        div.col-md-4
          h3 Données personnelles
        div.col-md-4
          h3 Utilisation des Cookies
        div.col-md-4
          h3 Conditions générales de vente
