extends ../header

block content
  div.container.with_head.page
    div.head_title
      h1 Codes de téléchargement
    div.row
      div.col-md-8.centered(style="text-align:center;")
        p(style="text-align:center;") <b>Vous avez reçu un code de téléchargement avec un de nos produits,</b><br>livres CD, cartes d'anniversaire pour une chanson personnalisée ou par le biais d'une offre spéciale ?
        include ../components/coupon_code_form.pug
        if !user
          p Pour bénéficier de votre code de téléchargement, vous devez vous connecter ou créer un compte utilisateur.
          div(style="display:inline-flex")
            a.btn.btn-success(href="/auth") Me connecter
            a.btn.btn-warning(href="/auth") Créer mon compte
    
    
        //-div.coupon_datas
            div.picture
            div.label
            div.description
            button.btn.btn-success#use_code(data-id="") Télécharger
        h3 Qu'est-ce qu'un code de téléchargement ?
        p 
          b Lors de l'achat d'un de nos produits, livres cd, cartes d'anniversaire ou encore par le biais d'une offre spéciale, Joyvox vous propose de bénéficier de votre produit de façon dématérialisée en vous offrant un code de téléchargement.
        p En indiquant votre code, vous retrouverez votre musique dans votre playlist Joyvox ainsi que dans l'onglet achats de votre compte utilisateur.<br> Vous aurez alors la possibilité de bénéficier pleinement de votre musique en ligne ou de télécharger vos morceaux de musique sur vos appareils.
        
