extends ../header

block content
  div.container.with_head.page
    div.head_title
      h1 Mentions légales
    div.row
      div.col-md-8.centered
        h3 EDITEUR
        p Le site Internet « www.machanson.joyvox.com », est une publication de la société  JOYVOX,  SARL à associé unique au capital 51 590,00 euros, immatriculée au RCS de Lille Métropole sous le n°529 196 842, 162 boulevard de Fourmies à ROUBAIX (59100), Editeur (ci-après, l’« Editeur »).<br>Directeur de la publication : Genevieve AERTS, en sa qualité de co-Gérant. 
        h3 HEBERGEUR
        p Le site Internet « www.machanson.joyvox.com» est hébergé par la Société Nexylan :<br>25 rue Corneille<br>59100 ROUBAIX<br>https://www.nexylan.com/

        h3 PROPRIETE INTELLECTUELLE 
        p L'intégralité de ce site est protégée par les législations françaises et internationales relatives à la propriété intellectuelle. Tous les droits de reproduction sont réservés. L'ensemble des textes et contenus musicaux composant les pages du site ne peuvent, conformément à l'article L122-4 du code de la propriété intellectuelle, faire l'objet d'une quelconque représentation ou reproduction, intégrale ou partielle, sur quelque support que ce soit, sans l'autorisation expresse et préalable de la société JOYVOX.
