extends ../header

block content
  div.container.with_head.page
    div.head_title
      h1 Paiements et remboursements
    div.row
      div.col.col-md-8.centered
        h3 1) Objet
        p Les présentes conditions générales de vente sont conclues entre :
        p La société  JOYVOX,  SARL à associé unique au capital 51 590,00 euros, immatriculée au RCS de Lille Métropole sous le n°529 196 842, 162 boulevard de Fourmies à ROUBAIX (59100), 
        p Ci-après « JOYVOX ».
        p Et
        p Toute personne physique visitant et/ou souhaitant effectuer un achat via le site internet www.machanson.joyvox.fr ; ce site est accessible via l’url suivant : www.machanson.joyvox.fr 
        p Ci-après « l'utilisateur »
        p Les présentes conditions visent à définir les modalités de vente à distance entre JOYVOX et l’utilisateur, de la commande, au paiement et à la livraison. Elles règlent toutes les étapes nécessaires à la passation de la commande et assurent le suivi de cette commande entre les parties contractantes.
        p La commande implique l’adhésion irrévocable aux conditions générales de vente. Les conditions générales pouvant faire l’objet de modifications, les conditions applicables sont celles en vigueur sur le site www.JOYVOX.fr à la date de passation de la commande par l’utilisateur.
        p L’utilisateur déclare :
        ul 
          li avoir la capacité de conclure le présent contrat,
          li ne pas procéder à des achats de produits dans le but de les revendre,
          li ne pas être commerçant.
        h3 2) Produits et Services
        p Les produits et services proposés à la vente par JOYVOX sont ceux figurant sur le site www.machanson.joyvox.fr, au jour de la consultation du site par l’utilisateur. Sans que cette énumération ne soit exhaustive, le Site propose des services de téléchargement de musiques personnalisées et de contenus éditoriaux.

        p Les services proposés à la vente sont décrits avec la plus grande exactitude possible. Toutefois, si des erreurs ou des omissions venaient à se produire dans cette présentation, la responsabilité de JOYVOX ne pourrait être engagée. 

        h3 3) Prix
        p Les prix sont présentés en euros TTC incluant la TVA.
        p Les prix indiqués tiennent compte de la TVA applicable au jour de la commande. Si le taux venait à être modifié, ces changements pourraient être répercutés sur le prix des articles sans que l’utilisateur en soit préalablement informé.
        p Les services seront facturés sur la base des tarifs en vigueur au moment de l’enregistrement de la commande.
        h3 4) Commande
        p Toute commande vaut acceptation expresse et irrévocable des prix et des descriptions des produits et services disponibles à la vente.
        p L’utilisateur déclare avoir pris connaissance et accepté irrévocablement les présentes conditions générales de vente avant la passation de sa commande. La validation de la commande vaut donc acceptation des conditions générales de vente.
        p Afin de permettre à l’utilisateur de revenir sur sa commande avant de la valider définitivement, JOYVOX a créé des écrans de validation et d’acceptation. La commande ne sera définitivement enregistrée qu’à la dernière validation de l’écran de paiement de la commande. Il est prévu, à compter de l’enregistrement de la commande, l’envoi d’un mail à l’utilisateur. Ce mail confirme que la commande a été prise en compte par JOYVOX, et non que le produit commandé est disponible.
        h3 5) Paiement
        p Le paiement s’effectue en ligne par carte bancaire. 
        p L’utilisateur ayant effectué une commande aura la possibilité d’imprimer sa facture en se connectant sur le site, dans l’espace suivi de commande prévu à cet effet.
        p Paiement en ligne par carte bancaire :
        p Les cartes acceptées sont la Carte Bleue, Visa, Mastercard et American Express. Le montant n’est débité du compte de l’utilisateur qu’en fonction des produits commandés.  
        h3 6) Sécurisation du paiement
        p Afin d’assurer la sécurité des paiements, la société JOYVOX utilise le service de paiement sécurisé STRIPE. 
        h3 7) conditions et délais de livraison
        p Les produits et services proposés à la vente sur ce site ne seront pas fournis sur un support matériel, mais sur un support dématérialisé. 
        p Dès validation du paiement ou découverte du code à gratter sur la carte d’anniversaire, l’utilisateur pourra télécharger la chanson. 
        p Sauf cas de force majeure, les délais de livraison seront ceux indiqués ci-dessus. La responsabilité de JOYVOX ne sera pas engagée en cas de retard de livraison, et ce pour quelque cause que ce soit. Par conséquent, aucune demande d’indemnisation de quelque nature que ce soit, ne pourra être réclamée par l’utilisateur à JOYVOX.
        p En cas de manquement de la part de JOYVOX à son obligation de livraison à la date ou à l’expiration du délai indiqué, ou, à défaut, au plus tard trente jours après la conclusion du contrat, l’utilisateur peut résoudre le contrat, par lettre recommandée avec demande d’avis de réception ou par un écrit sur un autre support durable, si, après avoir enjoint, selon les mêmes modalités JOYVOX d’effectuer la livraison ou de fournir le service dans un délai supplémentaire raisonnable, ce dernier ne s’est pas exécuté dans ce délai.

        h3 8) Droit de rétractation 
        p Les chansons téléchargeables sur le site sont personnalisées spécifiquement selon le prénom demandé par l’Acheteur. 
        p Conformément à l’article L 121-21-8 du Code de la Consommation, le droit de rétractation n’est pas applicable pour les biens nettement personnalisés, tels que ceux présentés ci-dessus.
        p En revanche, pour tout achat de la carte en magasin permettant le téléchargement d’une chanson personnalisée, l’échange ou le remboursement de cette carte sera possible en magasin uniquement, dans un délai de 30 jours à compter de la date d’achat, sous réserve que le code à gratter de la carte ne soit pas découvert.
 
        h3 9) Protection des données personnelles
        p JOYVOX, responsable du traitement, collecte des données personnelles obligatoires signalées par un astérisque. Ces données collectées sont nécessaires pour le traitement, le suivi et la livraison de votre commande, ainsi qu’à l’établissement des factures. D’autre part, ces données peuvent être nécessaires pour adresser, des offres, des actualités ou des publicités personnalisées ou non, uniquement en cas d’acceptation de celles-ci. Elles pourront être utilisées pour la réalisation d’analyses statistiques.
        p La société JOYVOX assure prendre toutes les mesures nécessaires, conformément aux dispositions légales applicables, pour assurer la protection, la confidentialité et la sécurité de vos données personnelles.
        p Conformément à la réglementation en vigueur, vous bénéficiez d’un droit d’accès, d’édiction des directives anticipées, de rectification et d’opposition aux traitements de données vous concernant. Vous pouvez exercer vos droits en écrivant à JOYVOX, 162 boulevard de Fourmies, 59100 ROUBAIX ou à l’adresse email contact@joyvox.fr en joignant une copie de votre pièce d’identité recto-verso. Pour plus d’informations, veuillez consulter la rubrique « données personnelles ».
        h3 10) Propriété intellectuelle 
        p L'intégralité de ce site est protégée par les législations françaises et internationales relatives à la propriété intellectuelle.
        p Tous les éléments du site JOYVOX, visuels ou sonores, sont protégés par le droit d’auteur et des marques. Ils sont la propriété exclusive de la société JOYVOX.
        p L'ensemble des textes et contenus musicaux composant les pages du site ne peuvent, conformément à l'article L122-4 du code de la propriété intellectuelle, faire l'objet d'une quelconque représentation ou reproduction, intégrale ou partielle, sur quelque support que ce soit, sans l'autorisation expresse et préalable de la société JOYVOX.
        p L'utilisateur s'interdit de diffuser ou de reproduire le site et ses éléments, en tout ou partie, sous quelques formes que ce soit. 
        p JOYVOX se réserve le droit de demander des dommages et intérêts et toute autre forme de recours en cas d'atteinte, sous quelque forme que ce soit, à ses droits de propriété intellectuelle et industrielle. 

        h3 11) Responsabilité
        p La société JOYVOX n’a, pour toutes les étapes d’accès au site, du processus de commande, de la livraison ou des services postérieurs, qu’une obligation de moyens.
        p La responsabilité de JOYVOX ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l’utilisation du réseau internet, notamment une rupture du service, une intrusion extérieure ou la présence de virus informatiques, ou de fait qualifié de force majeure, conformément à la jurisprudence.
        p Par ailleurs, JOYVOX dégage sa responsabilité pour tout manquement à ses obligations contractuelles dans l’hypothèse d’une force majeure ou fortuite, y compris sans que cette liste ne soit exhaustive, grève, incendie, catastrophe, panne et d’une manière générale tout événement ne permettant pas la bonne exécution des commandes.
        h3 12) Garantie légale
        p Indépendamment de la garantie commerciale, vous bénéficiez de la garantie des vices cachés et de conformité conformément aux dispositions des articles 1641 à 1649 du code civil et L221-15 du code de la consommation.
        p Article L 211-2 du Code de la Consommation
        p Les Conditions Générales de Vente applicables aux contrats de consommation mentionnent :
        p 1°selon , des modalités fixées par arrêté du ministre chargé de l’économie, l’existence, les conditions de mise en œuvre et le contenu de la garantie légale de conformité et de la garantie relative aux défauts de la chose vendue, dues par le vendeur
        p 2° Le cas échéant, l’existence d’une garantie commerciale et d’un service après-vente »
        p Article L211-4 du code de la consommation
        p Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.
        p Article L211-5 du code de la consommation
        p Pour être conforme au contrat, le bien doit :
        p 1° Etre propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :
        ul
          li correspondre à la description donnée par le vendeur et posséder les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;
          li présenter les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;
        p 2° Ou présenter les caractéristiques définies d'un commun accord par les parties ou être propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.
        p Article L211-12 du code de la consommation
        p L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.
        p Article 1641 du code civil
        p Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.
        p Article 1648 alinéa 1 du code civil
        p L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice.
        h3 13) Intégralité
        p Dans l’hypothèse où l’une des clauses du présent contrat serait nulle et non avenue par un changement de législation, de réglementation ou par une décision de justice, cela ne saurait affecter la validité et le respect des présentes conditions générales de vente.
        h3 14) Durée
        p Les présentes conditions s’appliquent pendant toute la durée de mise en ligne des services offerts par JOYVOX.
        h3 15) Droit applicable-Litiges
        p Les présentes conditions générales de vente sont soumises à la législation française.
        p Médiation conventionnelle
        p En cas de litiges intervenant à l’occasion de l’interprétation, de l’exécution ou de la cessation du présent Contrat, les Parties conviennent de rechercher prioritairement un accord amiable.
        p Par ailleurs, conformément aux articles L 152-2 et suivants du Code de la Consommation, le Client a la possibilité de recourir gratuitement à la médiation conventionnelle, pour tout litige l’opposant à un professionnel. Pour y recourir ou pour plus d’informations, veuillez contacter JOYVOX, 162 boulevard de Fourmies, 59100 ROUBAIX, ou à l’adresse email suivante : contact@joyvox.fr. 
        p Plateforme européenne de règlement de litiges
        p Conformément au Règlement Européen 524/2013, la société JOYVOX vous informe de l’existence d’une plateforme européenne de règlement des litiges en ligne entre e-commerçants et consommateurs : http://ec.europa.eu/consumers/odr/ 
        p Compétence des tribunaux
        p En cas d’échec d’un accord amiable, les tribunaux français seront seuls compétents.
