extends ../header

block content
  div.container.with_head.page
    div.head_title
      h1 Données personnelles
    div.row
      div.col-md-8.centered
        h3 Responsable du traitement des données personnelles 
        p JOYVOX,  SARL à associé unique au capital 51 590,00 euros, immatriculée au RCS de Lille Métropole sous le n°529 196 842, 162 boulevard de Fourmies à ROUBAIX (59100), représentée par Geneviève AERTS, en sa qualité de Co-Gérant. 
        h3 Finalité de la collecte et du traitement des données personnelles
        p Les données personnelles collectées sur le site www.machanson.joyvox.com  sont nécessaires pour les finalités suivantes : 
        ul
          li - Pour la gestion de votre abonnement à la newsletter et pour l’envoi des communications électroniques commerciales (emails et/ou SMS) y afférentes
          li - Pour la gestion, le suivi et le traitement de votre commande sur le site e-commerce
          li - Pour la gestion du service après-vente
          li - Pour personnaliser votre expérience client sur le site e-commerce 
          li - Pour la gestion des avis clients

        h3 Les destinataires des données personnelles 
        p Sous réserve de votre accord préalable, JOYVOX peut être amenée à transmettre vos données personnelles à ses Partenaires commerciaux, et notamment les marques appartenant au groupe IDKIDS COMMUNITY : Okaidi, Oxybul Eveil & Jeux, Idkids, Jacadi, N’Joy, Rigolo Comme La Vie, Bubblemag.<br>Par ailleurs, la société JOYVOX peut être amenée à transmettre vos données personnelles à ses sous-traitants, notamment à titre d’exemple, concernant le traitement de votre commande sur le site e-commerce. 
        
        h3 Transfert des données hors UE
        p Des données peuvent éventuellement être transférées hors de l’Union Européenne, notamment dans le cadre de l’exploitation des données vers les réseaux sociaux. 
        h3 Durée de conservation de vos données personnelles
        p Vos données personnelles seront conservées différemment selon les profils utilisateurs du Site. Les données personnelles vous concernant pourront être conservées ou archivées, conformément aux dispositions légales en vigueur. 

        h3 Les mesures de sécurité sur les données personnelles 
        p JOYVOX, en tant que Responsable du traitement de vos données personnelles, s’engage à prendre toutes les mesures nécessaires pour assurer la sécurité et la confidentialité des données personnelles transmises, et ce dans le respect des dispositions légales en vigueur. 

        h3 Vos droits sur les données personnelles 
        p Conformément à la réglementation en vigueur, vous bénéficiez d’un droit d’accès, de rectification, d’opposition aux données vous concernant. Si vous souhaitez exercer ce droit, il vous suffit de nous contacter par écrit à l’adresse suivante :<br>JOYVOX –  162 boulevard de Fourmies, 59100 ROUBAIX<br>ou à l’adresse email suivante : contact@joyvox.fr 

        p Pour faciliter le traitement de votre demande, il est conseillé de nous préciser votre nom, prénom, ainsi que votre adresse email.  Par ailleurs, JOYVOX pourra, si elle l’estime nécessaire, vérifier l’identité du client, par toute pièce d’identité en cours de validité.<br>JOYVOX s’engage à vous adresser une réponse dans un délai maximum d’un (1) mois à compter de la date d’exercice de votre droit. A défaut, il vous est possible de saisir la CNIL.<br>Enfin, et pour faciliter l’accès à vos droits, chaque newsletter envoyée par JOYVOX, vous propose un lien de désabonnement, vous permettant en un clic, de vous désabonner facilement des newsletters et actualités de JOYVOX, et /ou de ses Partenaires le cas échéant. Vous pouvez également gérer vos préférences en matière de prospection commerciale directement à partir de votre compte web. 

        h3 Vos droits sur les données personnelles après votre décès
        p A tout moment, vous disposez de la possibilité d’indiquer vos directives quant au sort de vos données personnelles après votre décès. Pour cela, il vous suffit de nous adresser vos volontés (conservation, effacement, ou volontés spécifiques), en vous adressant par écrit à : <br>JOYVOX -  162 boulevard de Fourmies, 59100 ROUBAIX<br>ou à l’adresse email suivante : contact@joyvox.fr 
