extends ../header

block content
  div.container.with_head.page
    div.head_title
      h1 Conditions générales d'utilisation
    div.row
      div.col-md-8.centered
        p En acceptant les conditions d'utilisation JOYVOX, vous accepté avoir lu et compris les mentions définies dans les rubriques, données personnelles, utilisation des cookies et conditions générales de vente.
      div.col.col-md-8.centered
        div.col.col-md-4
          h3 Données personnelles
          p pour en savoir plus sur vos données personnelles, rendez-vous dans la rubrique vie privée et contrôle de vos données.
        div.col.col-md-4
          h3 Utilisation des Cookies
          p pour en savoir plus les cookies stockés par joyvox, rendez-vous dans la rubrique utilisation des cookies.
        div.col.col-md-4
          h3 Conditions de vente
          p pour en savoir plus,<br>rendez-vous dans la rubrique paiements et gestion de mes commandes.
