.formular{
    background:#FFF;
    text-align: left;
    position: relative;
    overflow: hidden;
    max-width: 550px;
    width:94%;
    padding:0px;
    left:0;
    right:0;
    margin: auto;
    box-sizing: border-box;
    margin-top:20px;
    margin-bottom:20px;
    color:#4f5455;
    -moz-box-shadow: 1px 3px 13px -5px #656565;
    -webkit-box-shadow: 1px 3px 13px -5px #656565;
    -o-box-shadow: 1px 3px 13px -5px #656565;
    box-shadow: 1px 3px 13px -5px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=8);
    -webkit-transition: height .6s ease-in-out;
    -moz-transition: height .6s ease-in-out;
    -o-transition: height .6s ease-in-out;
    transition: height .6s ease-in-out;
}
.formular.fullscreen{
    width:100%;
    padding:10px;
    margin-top:0px;
    margin-bottom:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    filter:none;
    background-color: rgba(0,0,0,0);
}
.formular.mini{
    max-width: 450px;
}
.formular header{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}
.formular .form_content{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.formular a{
    text-decoration: none;
    color:cornflowerblue;
}
[data-file], #avatar, .invisible{
    display: none;
}
.formular p{
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    padding:10px;
    padding-left:40px;
}
.formular .form_content p{
    padding:0;
}
.formular h1,
.formular h2{
    padding-top:10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3333;
    margin: 0;
    padding-left:40px;
    padding-top:40px;
} 
.formular h3{
    padding-top:0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3333;
    margin: 0;
}
.formular *{
    box-sizing: border-box;
}
.formular .hyperlink{
    margin-top:5px;
    text-align: left;
    width:100%;
    line-height: 24px;
    text-decoration: underline;
}
.formular .error{
    background: red;
    color: white;
    padding:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.formular hr{
    border:none;
}
.formular hr.separator{
    border:none;
    border-bottom:1px solid #E3E3E3;
    margin-bottom: 10px;
}
.formular .form-group{
    display: inline-flex;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}
.formular .form-group.inline{
    display: inline-flex;
}
.formular .form-group.inline label{
    padding-left:20px;
}
.formular .phantom_input{
    display: none;
}

.formular .displaynone{
    overflow: hidden;
    height: initial;
    display: block;
    -webkit-animation: displaynone_motion .6s;
    animation: displaynone_motion .6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*-webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;*/
}
@keyframes displaynone_motion {
    0%   {transform: translateY(0px);}
    100%  {opacity: 0; height:0px; transform: translateY(30px);}
}
.formular .displayblock{
    opacity: 0;
    overflow: hidden;
    height: initial;
    display: block;
    visibility: visible !important;
    -webkit-animation: displayblock_motion .5s;
    animation: displayblock_motion .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: .2s;
    animation-delay: .1s;
}
@keyframes displayblock_motion {
    0%   {opacity: 0; display: block; transform: translateY(30px);}
    100%  {opacity: 1; display: block; transform: translateY(0px);}
}


/* AVATAR UPLOAD SPECIAL FORM */
.formular .avatar{
    width:100%;
    height:140px;
}
.formular .avatar .preview{
    width:128px;
    height:128px;
    background:#F9F9F9; 
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}
.formular .avatar .preview img{
    width:100%;
    height:auto;
}

/* input check */
.input_check{
    display: inline-flex;
    width: 100%;
    margin-bottom:10px;
}
.input_check .check{
    height:30px;
    position: relative;
    padding-left:35px;
    padding-right:10px;
    line-height: 30px;
    font-size: 12px;
    color:lightgrey;
}
.input_check .check:before{
    content:'';
    position: absolute;
    width:20px;
    height:20px;
    background:#ffd4d4;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    left:5px;
    top:5px;
    background-image: url(../../images/assets/form_cross.svg);
}
.input_check .check.checked:before{
    content:'';
    position: absolute;
    width:20px;
    height:20px;
    background:#c7eae8;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    left:5px;
    top:5px;
    background-image: url(../../images/assets/form_check.svg);
}


/* --------------- OPTION LIST -------------- */
.formular .option_list{
    padding:0;
    cursor: pointer;
    width: 100%;
}
.formular .option_list .icon{
    font-size: 64px;
    width:64px;
    height:64px;
    padding:10px;
}
.formular .option_list a{
    text-decoration: none;
}
.formular .option_list li{
    list-style: none;
    padding: 0px;
    width: 100%;
    display: inline-flex;
    background-color:#FFF;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}
.formular .option_list li:hover{
    background-color:#eeeeee;
}
.formular .option_list li .option_infos{
    padding-left: 20px;
}
.formular .option_list li .option_infos .label{
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    padding-top:4px;
    color:#212121;
}
.formular .option_list li .option_infos .email{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color:#818181;
}
.formular .option_list li .option_infos .status{
    font-weight: 200;
    font-size: 12px;
    color:coral;
    /* lightseagreen */
}
.formular .option_list li .option_infos .status.success{
    color:lightseagreen;
    /* lightseagreen */
}
/* --------------- OPTION LIST -------------- */



/* --------------- SWITCH TAB -------------- */
.formular .switch_tab{
    padding:0;
    display: inline-flex;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid #CCC;
    border-radius: 5px;
    overflow: hidden;
}

.formular .switch_tab .tab{
    margin:0;
    padding:0;
    list-style: none;
    display: inline-block;
    padding:10px;
    cursor: pointer;
    border-right:1px solid #CCC;
    color:#CCC;
    font-weight: 600;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.formular .switch_tab .tab:last-child {
    border:none;
}

.formular .switch_tab .tab.selected {
    background-color:#CCC;
    color:#FFF;
}


.formular .tab_group form {
    display: none;
    margin:0;
    padding:0;
}

.formular .tab_group form:nth-child(1){
    display: block;
}
/* --------------- SWITCH TAB -------------- */

.formular select{
    border: none;
    background-color: rgba(0,0,0,0);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
    height: 40x !important;
    margin: 0px;
    font-size: 15px;
    line-height: 24px;
    height: 47px;
    outline: 0 !important;
    cursor: pointer;
    width:100%;
}

.formular .material_input{
    position: relative;
    padding-top:20px;
    margin-bottom: 10px;
    display: inline-block;
}
.formular .material_input:after{
    content:"";
    height:2px;
    position: absolute;
    bottom:0;
    width:0%;
    background:lightseagreen;
    left:0;
    -webkit-transition: width .4s ease-in;
    -moz-transition: width .4s ease-in;
    -o-transition: width .4s ease-in;
    transition: width .4s ease-in;
    z-index: 9;
}
.formular .material_input.focused:after{
    width:100%;
    background: orange;
}
.formular .material_input:before{
    content:"";
    height:2px;
    position: absolute;
    bottom:0;
    width:100%;
    background:#CCC;
    left:0;
    z-index: 9;
}
.formular .material_input.invalid:before{
    background:coral;
}
.formular .material_input.valid:before{
    background:lightseagreen;
}

.formular .material_input input, .formular .material_input textarea{
    width:100%;
    line-height: 25px;
    font-size: 14px;
    font-weight: 200;
    outline: none !important;
    background-color:rgba(0,0,0,0);
    border:none;
    position: relative;
    padding:10px;
}
.formular .material_input textarea{
    resize: vertical;
    min-height: 50px;
}

.formular .material_input input:after, .formular .material_input textarea:after{
    /*content:'';
    position: absolute;
    height:2px;
    width:100%;
    background: coral;*/
}
.formular .material_input .input_error{
    background:coral;
    color:#FFF;
    padding:10px;
    position: relative;
}
.formular .material_input .input_error:before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent coral transparent;
    line-height: 0px;
    _border-color: #000000 #000000 coral #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    left:15px;
    top:-8px;
}
input:-webkit-autofill {
    background: rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.formular .material_input label{
    position: absolute;
    line-height: 25px;
    font-size: 14px;
    font-weight: 200;
    left:10px;
    top:25px;
    color:#4f5455;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
    pointer-events: none;
    
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.formular .material_input input[disabled], 
.formular .material_input textarea[disabled]{
    color:#818181;
    background-color:#F0F0F0;
    background-image: url(../../images/assets/padlock.svg);
    background-repeat: no-repeat;
    background-size:32px 32px;
    background-position: right center;
}


.formular .material_input.minlength .number,
.formular .material_input.maxlength .number,
.formular .material_input.minmaxlength .number{
    position: absolute;
    bottom:0;
    right:0;
    font-size: 10px;
    color:gray;
    line-height: 23px;
}
.formular .material_input.minlength .number .icon,
.formular .material_input.maxlength .number .icon,
.formular .material_input.minmaxlength .numbe .icon{
    font-size: 24px;
    line-height: 12px;
    color:lightseagreen;
}

.formular .material_input input[disabled] + label,
.formular .material_input input[type="date"] + label,
.formular .material_input input:focus + label,
.formular .material_input input:valid + label,
.formular .material_input textarea[disabled] + label,
.formular .material_input textarea:focus + label,
.formular .material_input textarea:valid + label,
.formular .material_input.notempty label,
.formular .material_input.invalid label,
.formular select + label{
    top:0px !important;
    font-size: 12px !important;
    color:#CCC !important;
}
.formular input:invalid:has(> .material_input):after {
    background:coral;
}
/* --------- RADIO -------------- */
.radio_list{
    padding:0;
    display: inline-flex;
}
.radio_list input[type="radio"]{
    width:24px;
    height:24px;
    cursor: pointer;
    position: relative;
    border:none;
    background:none;
}
.radio_list input[type="radio"]:before{
    position: absolute;
    width:24px;
    height:24px;
    background-color:#CCC;
    content:'';
    position: absolute;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
.radio_list input[type="radio"]:after{
    content:'';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background:#FFF;
    width:10px;
    height:10px;
    z-index: 9;
    background-size: cover;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.radio_list input[type="radio"]:checked:before{
    background:lightseagreen;
}
.radio_list input[type="radio"]:checked:after{
    width:20px;
    height:20px;
    background-image: url(../../images/assets/form_check.svg);
}
.radio_list input[type="radio"] + label{
    line-height: 24px;
    font-size: 18px;
    color:#818181;
    cursor: pointer;
    padding:10px;
    padding-top:4px;
    padding-right:10px;
}
.radio_list input[type="radio"]:checked + label{
    color:#333;
}

/* --------- CHECKBOX ----------- */
.formular input[type="checkbox"]{
    background: none;
    border:none;
    width:38px;
    height:24px;
    position: relative;
    float: left;
    margin-bottom:10px;
}
.formular input[type="checkbox"]:before{
    content:'';
    position: absolute;
    width:38px;
    height:24px;
    background:coral;
    cursor: pointer;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
}
.formular input[type="checkbox"]:after{
    content:'';
    position: absolute;
    width:20px;
    height:20px;
    left:2px;
    top:2px;
    background: #FFF;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background-image: url(../../images/assets/form_cross.svg);
    -webkit-transition: left .2s ease-in;
    -moz-transition: left .2s ease-in;
    -o-transition: left .2s ease-in;
    transition: left .2s ease-in;
}
.formular input[type="checkbox"]:checked:before{
    background: lightseagreen;
}
.formular input[type="checkbox"]:checked:after{
    left:16px;
    background-image: url(../../images/assets/form_check.svg);
}
.formular input[type="checkbox"] + label{
    line-height: 20px;
    padding-left: 10px;
    padding-top: 5px;
    float: left;
    cursor: pointer;
    max-width: 90%;
}


.formular .checkbox_relative_container{
    display: none;
}
.checkbox_relative{
    padding-left:30px;
    display: table;
    position: relative;
}
.checkbox_relative .line{
    width:100%;
    display: inline-flex;
}
.checkbox_relative input[type="checkbox"] + label{
    padding-left: 10px;
    font-size: 13px;
    color:grey;
    line-height: 20px;
    padding-top:2px;
}
.checkbox_relative input[type="checkbox"]{
    width:20px;
    height:20px;
    border-radius: 100%;
    border:none;
    outline: none;
}
.checkbox_relative input[type="checkbox"]:before{
    width:20px;
    height:20px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.checkbox_relative input[type="checkbox"]:after{
    width: 20px;
    height: 20px;
    top:0;
    left:0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.checkbox_relative input[type="checkbox"]:checked:after{
    left:0px;
}

/* ------------------ TYPE COLOR ---------------- */
input[type="color"]{
    margin: 0;
    padding: 0;
    border: none;
    width: 80px;
    height: 80px;
}


/* SET PLACEHOLDER FOR ALL INPUTS TYPE */
.formular ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(0,0,0,0);
}
.formular :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:  rgba(0,0,0,0);
   opacity:  0;
}
.formular ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(0,0,0,0);
   opacity:  0;
}
.formular :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(0,0,0,0);
}
.formular ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(0,0,0,0);
}
.formular ::placeholder { /* Most modern browsers support this now. */
   color: rgba(0,0,0,0);
}




.calendar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,.6);
    z-index: 999;
}
.calendar .content{
    width:280px;
    max-width: 100%;
    height:330px;
    max-height: 100%;
    background:#FFF;
    position: absolute;
    padding:10px;
    -moz-box-shadow: 2px 3px 25px -5px #656565;
    -webkit-box-shadow: 2px 3px 25px -5px #656565;
    -o-box-shadow: 2px 3px 25px -5px #656565;
    box-shadow: 2px 3px 25px -5px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=146, Strength=25);
}
.calendar .content .top_header{
    height:38px;
    width:100%;
    line-height: 28px;
    text-align: center;
    border-bottom:1px solid #E3E3E3;
}
.calendar .content .bottom_footer{
    height:34x;
    width:100%;
    border-top:1px solid #E3E3E3;
}
.calendar .content .choices{
    height:236px;
    width:100%;
    display: inline-flex;
    position: relative;
}
.calendar .content .days{
    width:20%;
    text-align: left;
}
.calendar .content .months{
    width:50%;
}
.calendar .content .years{
    width:30%;
}
.calendar .content .selector{
    width:100%;
    height:38px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    margin:auto;
    border-top:4px solid lightseagreen;
    border-bottom:4px solid lightseagreen;
    z-index: 9;
}
.calendar .content .wrapper{
    margin:0;
    padding:0;
    height:236px;
    background:#F9F9F9;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
}
.calendar .content .wrapper::-webkit-scrollbar{width:0px}
.calendar .content .wrapper ul{
    margin:0;
    padding:0;
    padding-top:100px;
    padding-bottom:100px;
}
.calendar .content ul::-webkit-scrollbar { 
    display: none; 
    -webkit-overflow-scrolling: touch;
}
.calendar .content ul li{
    margin:0;
    padding:0;
    list-style: none;
    padding-left:10px;
    font-size: 17px;
    line-height: 40px;
    height:40px;
    text-align: center;
    color:#818181;
    position: relative;
    cursor: pointer;
}
.calendar .content .months ul li{
    text-align: left;
}
.calendar .content ul li:after{
    width:100%;
    height:1px;
    position: absolute;
    left:0;
    bottom:0;
    content:'';
    border-bottom:1px solid #E3E3E3;
}
.calendar .content ul li.selected{
    color:#000;
    background:#d1f1ef;
    color:lightseagreen;
}
.calendar .content ul li.disabled{
    background:#F0F0F0;
    color:#CCC;
}



/* CROPPER */
.cropper_preview{
    background:#E3E3E3;
    margin-top:10px;
    border:none;
    background-image: url(../../images/assets/picture.svg);
    background-repeat: no-repeat;
    background-size: 64px 64px;
    background-position: center center;
}


/* ARRAY LIST INPUTS */
.array_list_inputs{
    display: block !important;
    position: relative;
}
.array_list_inputs .array_list_menu{
    margin:0;
    padding:0;
    width:100%;
    position: relative;
    display: table;
}
.array_list_inputs .array_list_menu li{
    margin:0;
    padding:10px;
    list-style: none;
    float: right;
    position: relative;
}
.array_list_inputs .array_list_inputs{
    position: relative;
    margin:0;
    padding:0;
}
.array_list_inputs .array_list_inputs li{
    list-style: none;
    margin:0;
    padding:0;
}
.array_list_inputs .array_list_inputs li .delete_input_array_button{
    position: absolute;
    right:0;
    bottom:0;
    padding:10px;
    color:#FFF;
    background:coral;
    cursor: pointer;
}
.array_list_inputs .array_list_menu li.add_input_array_button{
    padding:10px;
    cursor: pointer;
}
@media screen and (max-width: 420px) {
    .formular{
        width:100%;
        padding:0px;
        margin-top:40px;
        margin-bottom:0px;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
        -o-box-shadow:none;
        box-shadow:none;
        filter:none;
        background-color: rgba(0,0,0,0);
    }
    .formular .form_content,
    .formular header{
        padding:20px;
    }
    .formular h1,
    .formular h2{
        padding-left:20px;
        padding-top:20px;
    }
}