div#account_infos
    div.icon.icon-account_1.idkids-icons.lg
div.subnav.account
    div.account_infos
        div.avatar
            img(src)
        div.infos
            div.label Mon Compte
            div.email
            a(href="https://www.idkids-app.com/account/account").btn.btn-success Mon compte
            div= JSON.stringify(user)
    div.other_accounts
    div.options
        a.btn.btn-default.btn-sm(href="https://www.idkids-app.com/auth") Ajouter un compte
        a.btn.btn-default.btn-sm(href="https://www.idkids-app.com/auth/logout") Déconnexion
