extends admin_header
block content
    div.admin
        div.shutter
            ul
                li 
                    span.icon.icon-widgets.idkids-icons
                    div.label Applications
                li 
                    span.icon.icon-pencil.idkids-icons
                    div.label Pages
                li 
                    span.icon.icon-account.idkids-icons
                    div.label Utilisateurs
                li 
                    span.icon.icon-notifications.idkids-icons
                    div.label Notification
        div.container
            div.article
                h1 Dashboard