<script type="text/template" id="container_topleftmenu_template">
  <div class="pager_option menu topleft">
    <select>
      <option>All Devices</option>
      <option>Tablet</option>
      <option>Mobile</option>
    </select>
    <input type="text" id="input_id" placeholder="menu_id"/>
    <input type="text" id="input_label" placeholder="menu_label"/>
  </div>
</script>
<script type="text/template" id="container_toprightmenu_template">
  <ul class="pager_option menu topright">
    <li>border</li>
    <li>flex</li>
    <li>row</li>
    <li>background</li>
  </ul>
</script>
<script type="text/template" id="container_bottomleftmenu_template">
  <ul class="pager_option menu bottomleft">
    <li>full</li>
    <li>fifty</li>
    <li>onetwo</li>
    <li>twoone</li>
    <li>thirty</li>
    <li>forty</li>
    <li>margined</li>
  </ul>
</script>
<script type="text/template" id="container_bottomrightmenu_template">
  <ul class="pager_option menu bottomright">
    <li>delete</li>
    <li>sort</li>
  </ul>
</script>
<script type="text/template" id="picture_template">
  <div class="picture">
  </div>
</script>
