.idkids_jssdk.loader{
    width:100%;
    height:50px;
    position: fixed;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,0);
    z-index: 999999;
    display: none;
}
.idkids_jssdk.loader.showed{

}
.idkids_jssdk.loader.visible{
  display: block;
}

.idkids_jssdk.loader .centered{
  width: 149px;
  height: 50px;
  position: fixed;
  bottom: -50px;
  left: 0;
  right: 0;
  margin: auto;
  background: #FFF;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  -moz-box-shadow: 0px 50px 80px 13px #656565;
  -webkit-box-shadow: 0px 50px 80px 13px #656565;
  -o-box-shadow: 0px 50px 80px 13px #656565;
  box-shadow: 0px 50px 80px 13px #656565;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=8);

  -webkit-transition: bottom .2s ease-in;
  -moz-transition: bottom .2s ease-in;
  -o-transition: bottom .2s ease-in;
  transition: bottom .2s ease-in;
}
.idkids_jssdk.loader.showed .centered{
  bottom: 0px;
}
.idkids_jssdk.loader .centered svg{
  height: 100%;
  float: left;
}
.idkids_jssdk.loader .centered span{
  line-height: 50px;
  float: left;
}
.idkids_jssdk.loader .centered circle{
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    transform-origin: center center;
    animation: spin .8s linear infinite;
}



.idkids_jssdk .short_cuts{
    float: right;
    height:100%;
}
.idkids_jssdk.sticky .short_cuts{
    height:100%;
}
.idkids_jssdk .short_cuts ul{
    padding:0;
    margin:0;
    display: inline-flex;
    float: right;
}
.idkids_jssdk .short_cuts ul li{
    padding:0;
    margin:0;
    list-style: none;
    height:64px;
    min-width:64px;
    background-color: #FFF;
    color:#818181;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.idkids_jssdk .short_cuts ul li .icon{
    font-size: 40px;
    text-align: center;
    width:100%;
}
.idkids_jssdk .short_cuts ul li:hover{
    background-color: #e6ebf1;
    color: #000;
}
.idkids_jssdk .short_cuts ul li:hover .icon{
  color:black;
}
.idkids_jssdk .short_cuts ul li .subnav{
    position: absolute;
    top:100%;
    right:-20px;
    z-index: 999;
    background:#FFF;
    padding: 0;
    width:206px;
    display: inline;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) perspective( 600px ); /* Safari */
    transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) perspective( 600px );
    transform-origin: top right;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.idkids_jssdk .short_cuts ul li .subnav:before{
    content:'';
    position: absolute;
    top:-10px;
    right:23px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.idkids_jssdk .short_cuts ul li:hover .subnav,
.idkids_jssdk .short_cuts ul li:focus .subnav,
.idkids_jssdk .short_cuts ul li:active .subnav{
    visibility: visible;
    opacity: 1;
    right:0px;
    -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg); /* Safari */
    transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
}
.idkids_jssdk .short_cuts ul li .subnav ul{
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    display: inline;
    width:206px;
    position: absolute;
    margin-bottom:10px;
    background: #FFF;
    padding: 10px;
    -moz-box-shadow: 0 2px 25px -10px #656565;
    -webkit-box-shadow: 0 2px 25px -10px #656565;
    -o-box-shadow: 0 2px 25px -10px #656565;
    box-shadow: 0 2px 25px -10px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=25);
}
.idkids_jssdk .short_cuts ul a{
    text-decoration: none;
}
.idkids_jssdk .short_cuts ul a .icon{
    color:#818181;
}
.idkids_jssdk .short_cuts ul a .indice{
  position: absolute;
  right:10px;
  top:10px;
  padding:5px;
  padding-top:3px;
  padding-bottom:3px;
  font-size: 8px;
  font-weight: bold;
  color:#FFF;
  background-color: #d51419;
  border-radius: 40px;
}
.idkids_jssdk .short_cuts ul li .subnav.widgets{
    display: inline-flex;
}
.idkids_jssdk .short_cuts ul li .subnav.widgets ul{
    display: inline-block;
}
.idkids_jssdk .short_cuts ul li .subnav.widgets li{
  width: 100%;
  margin: 2px;
  display: inline-flex;
  float: left;
  text-align: center;
  height: 70px;
}
.idkids_jssdk .short_cuts ul li .subnav.widgets li .icon{
    width: 44px;
    height:44px;
    margin:10px;
    background-color:#E3E3E3;
    float: left;
}
.idkids_jssdk .short_cuts ul li .subnav.widgets li span{
    padding:0;
    padding-top:10px;
    float: left;
    width:130px;
}
.idkids_jssdk .short_cuts ul li .subnav.account{
    width:304px;
    padding:0;
    display: table;
    -moz-box-shadow: 0 2px 25px -10px #656565;
    -webkit-box-shadow: 0 2px 25px -10px #656565;
    -o-box-shadow: 0 2px 25px -10px #656565;
    box-shadow: 0 2px 25px -10px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=25);
}
.idkids_jssdk .short_cuts ul li .subnav.account .account_infos{
    padding:10px;
    display: inline-flex;
}
.idkids_jssdk .short_cuts ul li .subnav .account_infos .label{
    font-weight: bold;
}
.idkids_jssdk .short_cuts ul li .subnav .account_infos .email{
    color: #818181;
}
.idkids_jssdk .short_cuts ul li .subnav .options{
    display: inline-flex;
    border-top:1px solid #E3E3E3;
    padding-left:10px;
    text-align: center;
    background:#e6ebf1;
    width: 100%;
}

.idkids_jssdk .short_cuts ul li .subnav .account_infos .infos{
    width:200px;
}

.idkids_jssdk .short_cuts ul li ul li{
    display: inline-table;
    width:100%;
    padding-top:5px;
    padding-bottom: 5px;
    height:auto;
}
.idkids_jssdk .short_cuts ul li ul li a{
  display: block;
  text-decoration: none;
}
.idkids_jssdk .short_cuts ul li ul li .icon{
    width:32px;
    height:32px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: left;
}
.idkids_jssdk .short_cuts ul li ul li span{
    line-height: 32px;
    padding-left:10px;
    padding-top:2px;
    text-decoration: none;
    color:#333;
}


.idkids_jssdk .short_cuts{
    float: right;
    height:100%;
}
.idkids_jssdk .sticky .short_cuts{
    height:100%;
    overflow: hidden;
}
.idkids_jssdk .short_cuts ul{
    padding:0;
    margin:0;
    display: inline-flex;
}
.idkids_jssdk .short_cuts ul li{
    padding:0;
    margin:0;
    list-style: none;
    height:64px;
    min-width:64px;
    background-color: #FFF;
    color:#818181;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.idkids_jssdk .short_cuts ul li .icon,
.idkids_jssdk .short_cuts ul li .idkids-icons{
    font-size: 40px;
    text-align: center;
    width:100%;
}
.idkids_jssdk .short_cuts ul li .idkids-icons img{
  opacity: .5;
  width: 50px;
  padding-top:5px;
}
.idkids_jssdk .short_cuts ul a .indice{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  background-color: #d51419;
  border-radius: 40px;
  z-index: 9;
}
.idkids_jssdk .short_cuts ul li:hover,
.idkids_jssdk .short_cuts ul li:active,
.idkids_jssdk .short_cuts ul li:focus{
    background-color: #e6ebf1;
    color: #000;
}
.idkids_jssdk .short_cuts ul li .subnav{
    position: absolute;
    top:100%;
    right:-20px;
    z-index: 999;
    background:#FFF;
    padding: 0;
    width:206px;
    display: inline;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) perspective( 600px ); /* Safari */
    transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) perspective( 600px );
    transform-origin: top right;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.idkids_jssdk .short_cuts ul li .subnav:before{
    content:'';
    position: absolute;
    top:-10px;
    right:23px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.idkids_jssdk .short_cuts ul li:hover .subnav,
.idkids_jssdk .short_cuts ul li:focus .subnav,
.idkids_jssdk .short_cuts ul li:active .subnav{
    visibility: visible;
    opacity: 1;
    right:0px;
    -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg); /* Safari */
    transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
}
.idkids_jssdk .short_cuts ul li .subnav ul{
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: inline;
    overflow: -moz-scrollbars-none;
    width:206px;
    position: absolute;
    margin-bottom:10px;
    background: #FFF;
    padding: 10px;
    -moz-box-shadow: 0 2px 25px -10px #656565;
    -webkit-box-shadow: 0 2px 25px -10px #656565;
    -o-box-shadow: 0 2px 25px -10px #656565;
    box-shadow: 0 2px 25px -10px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=25);
}
.idkids_jssdk .short_cuts ul a{
    text-decoration: none;
}
.idkids_jssdk .short_cuts ul a .icon{
    color:#818181;
}
.idkids_jssdk .short_cuts ul li .subnav.widgets{
    display: inline-flex;
}
.idkids_jssdk .short_cuts ul li .subnav.widgets ul{
    display: inline-block;
}
.idkids_jssdk .short_cuts ul li .subnav.widgets li{
  width: 100%;
  height: 70px;
  margin: 2px;
  display: inline;
  text-align: left;
  position: relative;
}
.idkids_jssdk .short_cuts ul li .subnav.widgets li .icon{
    width: 44px;
    height:44px;
    margin:10px;
    background-color:#E3E3E3;
}
.idkids_jssdk .short_cuts ul li .subnav.widgets li span{
  padding: 0;
  text-align: left;
  line-height: 18px;
  padding-top: 11px;
}
.idkids_jssdk .short_cuts ul li .subnav.account{
    width:304px;
    padding:0;
    display: table;
    -moz-box-shadow: 0 2px 25px -10px #656565;
    -webkit-box-shadow: 0 2px 25px -10px #656565;
    -o-box-shadow: 0 2px 25px -10px #656565;
    box-shadow: 0 2px 25px -10px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=25);
}
.idkids_jssdk .short_cuts ul li .subnav.account .account_infos{
    padding:10px;
    display: inline-flex;
}
.idkids_jssdk .short_cuts ul li .subnav .account_infos .label{
    font-weight: bold;
}
.idkids_jssdk .short_cuts ul li .subnav .account_infos .email{
    color: #818181;
}
.idkids_jssdk .short_cuts ul li .subnav .options{
    display: inline-flex;
    border-top:1px solid #E3E3E3;
    padding-left:10px;
    text-align: center;
    background:#e6ebf1;
    width: 100%;
}
.idkids_jssdk .avatar{
    width:64px;
    height:64px;
    background:#e6ebf1;
    margin:10px;
    overflow: hidden;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.idkids_jssdk .avatar.sm{
    width:48px;
    height:48px;
}
.idkids_jssdk .avatar img{
    width: 100%;
    height:auto;
}
.idkids_jssdk .short_cuts ul li .subnav .account_infos .infos{
    width:200px;
}
.idkids_jssdk .short_cuts ul li ul li{
    display: inline-flex;
    width:100%;
    height:45px;
}
.idkids_jssdk .short_cuts ul li ul li .icon{
    width:32px;
    height:32px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.idkids_jssdk .short_cuts ul li ul li span{
    line-height: 32px;
    padding-left:10px;
}

.idkids_cookies{
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  font-size: 12px;
  background-color: rgba(0,0,0,.6);
  color:#FFF;
  padding:10px;
  z-index: 9999;
}
.idkids_cookies p{
  color:#FFF !important;
  text-align: center !important;
}
@media screen and (max-width: 640px) {
  .idkids_cookies p{
    font-size: 9px;
  }
}
@keyframes spin {
    0% {
        transform: rotate(240deg);
        stroke-dashoffset: 50;
    }
    50% {
        stroke-dashoffset: 200;
    }
    100% {
        transform: rotate(600deg);
        stroke-dashoffset: 50;
    }
}
