div.formular
    h1 Ma carte de fidélité
    form.form_content
        p Demandez votre carte de <a href="/fidelity_card">fidélité pour profiter des avantages</a> de nos marques et services
        button.btn.btn-success.btn-m(type='submit')= lang[locale].keys.fidelity_card_cta
