block footer
    table.container(width="100%" cellspacing="0" cellpadding="0" style="background:#F0F0F0")
        tr
            td 
                table.row
                    tr
                        td.social_links
                            a(href="http://facebook.com")
                                img(src="http://www.idkids-app.com/images/assets/facebook.png" alt="logo facebook" width="48")
                            a(href="http://instagram.com")
                                img(src="http://www.idkids-app.com/images/assets/instagram.png" alt="logo instagram" width="48")
                            a(href="http://twitter.com")
                                img(src="http://www.idkids-app.com/images/assets/twitter.png" alt="logo twitter" width="48")
                    tr
                        td
                            p= "Cet email vous est envoyé automatiquement par idkids-app.com Pour plus d'informations veuillez contacter idnovant.it@gmail.com Mentions Légales Politique de confidentialité "
                                
