block footer
    table.container(width="100%" cellspacing="0" cellpadding="0" style="background:#F0F0F0")
        tr
            td 
                table.row
                    tr
                        td.social_links
                            a(href="https://www.facebook.com/joyvoxmusic/")
                                img(src=app.locals.settings.host+"/images/assets/facebook.png" alt="logo facebook" width="48")
                            a(href="https://www.instagram.com/joyvoxmusic/?hl=fr")
                                img(src=app.locals.settings.host+"/images/assets/instagram.png" alt="logo instagram" width="48")
                            a(href="https://twitter.com/joyvoxmusic")
                                img(src=app.locals.settings.host+"/images/assets/twitter.png" alt="logo twitter" width="48")
                    tr
                        td
                            p= "Cet email vous est envoyé automatiquement par "+app.locals.settings.host+"<br>Pour plus d'informations veuillez contacter contact.joyvox@gmail.com<br><a href=\"https://auth.joyvox.fr/terms-of-use\">Mentions Légales</a><br><a href=\"https://auth.joyvox.fr/private_datas\">Politique de confidentialité</a>"
                                
