.media{
  padding:20px;
  background:#FFF;
  margin-bottom:10px;
  -moz-box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
  -webkit-box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
  -o-box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
  box-shadow: 2px 2px 20px -5px rgba(0,0,0,.3);
  filter: progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,.3),Direction=134,Strength=20);
}
