block footer
    footer.container
        div.row
            div.col.col-md-3
                h3 À propos de IDKIDS
                ul
                    li 
                        a(href="http://corporate.idkidscommunity.com/groupe/qui-sommes-nous/" target="_blank") Histoire
                    li 
                        a(href="http://corporate.idkidscommunity.com/act-for-kids/une-demarche-globale-rse/" target="blank") Politique RSE
                    li 
                        a(href="http://corporate.idkidscommunity.com/nous-rejoindre/nos-offres/" target="blank") Nous rejoindre - Recrutement
                    li 
                        a(href="https://www.idkids.fr/utils/programme-fidelite" target="blank") Membres IDKIDS.community
            div.col.col-md-4
                h3 Aide et confidentialité
                ul
                    li 
                        a(href="/orders") Paiements et gestion de mes commandes
                    li 
                        a(href="/cgu") Règles de confidentialité
                    li 
                        a(href="/terms_of_use") Confitions d'utilisation
                    li 
                        a(href="/contact") Contact et renseignements
                    li 
                        a(href="/private_datas") Vie privée, sécurité et contrôle de vos données
                    li
                        a(href="/FAQ") Questions relatives à l'utilisation de nos services
                
            div.col.col-md-2
                h3 Widgets
                ul 
                  if(typeof app.locals.applications !== "undefined")
                    each apps in app.locals.applications
                      if(apps.is_widget)
                        li
                          a(href=apps.host)= apps.name
            div.col.col-md-2
                h3 Mon compte
                ul
                    li 
                        a(href="/account/account") Informations
                    li 
                        a(href="/account/basket") Panier
                    li 
                        a(href="/account/orders") Commandes
                    li
                        a(href='/account/story') Historique
                    li 
                        a(href="/account/addresses") Adresses de livraison
                    li
                        a(href='/account/profile') Informations et vie privée
        hr
        div.row
            if(typeof app.locals.applications !== "undefined")
              each apps in app.locals.applications
                if(apps.is_widget)
                  a(href=apps.host)
                    div.icon(style="background-image:url("+apps.icon+"); background-size:contain;")
        hr
        script(src="/node_modules/jquery/dist/jquery.min.js")
        script(src="/node_modules/underscore/underscore-min.js")
        script(src="/public/javascripts/components/popeye.js")
        link(rel='stylesheet', href='/public/stylesheets/components/popeye.min.css')
        script(src="/public/javascripts/index.min.js")
        script(src="/public/javascripts/idkids-sdk/idkids-sdk.js")
        if(js)
            each val in js
                script(src=val) 
        script(src="/node_modules/fingerprintjs2/dist/fingerprint2.min.js")
