block footer
    footer.container
        div.row
            div.col.col-md-3
                h3 À propos de IDKIDS
                ul
                    li 
                        a(href="/idkids#story") Histoire
                    li 
                        a(href="/idkids#values") Valeurs
                    li 
                        a(href="/idkids#rhessemes") Politique RSE
                    li 
                        a(href="/idkids#act-for-kids") Act For Kids
                    li 
                        a(href="/idkids#join-us") Nous rejoindre - Recrutement
                    li 
                        a(href="/idkids#community") Membres IDKIDS.community
                    li 
                        a(href="/idkids#became-member") Devenir membre IDKIDS.community
            div.col.col-md-4
                h3 Aide et confidentialité
                ul
                    li 
                        a(href="/orders") Paiements et gestion de mes commandes
                    li 
                        a(href="/satisfaction") Retours et remboursement
                    li 
                        a(href="/cgu") Règles de confidentialité
                    li 
                        a(href="/terms_of_use") Confitions d'utilisation
                    li 
                        a(href="/contact") Contact et renseignements
                    li 
                        a(href="/private_datas") Vie privée, sécurité et contrôle de vos données
                    li
                        a(href="/FAQ") Questions relatives à l'utilisation de nos services
                hr
                h3 Développeurs
                ul
                    li 
                        a(href="/admin/dashboard") Compte développeur
                    li 
                        a(href="/developpers") Premiers pas avec le SDK idkids
            div.col.col-md-2
                h3 Marques
                ul
                    li 
                        a(href="https://www.okaidi.fr") Okaidi
                    li 
                        a(href="https://www.obaibi.fr") Obaibi
                    li 
                        a(href="https://www.jacadi.fr") Jacadi
                    li 
                        a(href="https://www.oxybul.fr") Oxybul
                hr
                h3 Services
                ul
                    li 
                        a(href="https://www.rigolocommelavie.fr") Rigolo comme la vie
                    li 
                        a(href="https://www.njoy.fr") N'JOY
                    li 
                        a(href="https://www.bubblemag.fr") Bubble Mag
                    li 
                        a(href="https://www.joyvox.fr") Joyvox
            div.col.col-md-2
                h3 Mon compte
                ul
                    li 
                        a(href="/account/account") Informations
                    li 
                        a(href="/account/basket") Panier
                    li 
                        a(href="/account/orders") Commandes
                    li
                        a(href='/account/story') Historique
                    li 
                        a(href="/account/addresses") Adresses de livraison
                    li
                        a(href='/account/profile') Informations et vie privée
        hr
        div.row
            a(href="https://www.okaidi.com")
                div.icon.okaidi
            a(href="https://www.obaibi.com")
                div.icon.obaibi
            a(href="https://www.jacadi.com")
                div.icon.jacadi
            a(href="https://www.oxybul.com")
                div.icon.oxybul
            a(href="https://www.rigolocommelavie.com")
                div.icon.rclv
            a(href="https://www.njoy.com")
                div.icon.njoy
            a(href="https://www.bubblemag.fr")
                div.icon.bubble
            a(href="https://www.joyvox.fr")
                div.icon.joyvox
            a(href="https://www.joybox.fr")    
                div.icon.joybox
        hr
        script(src="/node_modules/jquery/dist/jquery.min.js")
        script(src="/node_modules/underscore/underscore-min.js")
        script(src="/public/javascripts/index.min.js")
        script(src="/public/javascripts/idkids-sdk/idkids-sdk.js")
        if(js)
            each val in js
                script(src=val)