block footer
    footer.container
        div.row
            div.col.col-md-3
                h3= "À propos de "+app.locals.settings.label
                ul
                    li 
                        a(href="https://www.joyvox.fr/" target="_blank") Site internet
                    li 
                        a(href="http://www.joyvox.fr/fr/contacts" target="_blank") Contact
                    li 
                        a(href="http://www.joyvox.fr/fr/quisommesnous" target="_blank") Qui sommes-nous
                    li 
                        a(href="http://www.joyvox.fr/fr/blog" target="_blank") Blog
            div.col.col-md-4
                h3 Aide et confidentialité
                ul
                    li 
                        a(href="/payments-orders") Paiements et gestion de mes commandes
                    li 
                        a(href="/legal-notice") Mentions légales
                    li 
                        a(href="/terms-of-use") Conditions d'utilisation
                    li 
                        a(href="/uses-of-cookies") Utilisation des Cookies
                    li 
                        a(href="/private_datas") Vie privée, sécurité et contrôle de vos données
                
            div.col.col-md-2
                h3 Widgets
                ul 
                  if(typeof app.locals.applications !== "undefined")
                    each apps in app.locals.applications
                      if(apps.is_widget)
                        li
                          a(href=apps.host)= apps.label
            div.col.col-md-2
                h3 Mon compte
                ul
                    li 
                        a(href="/account/account") Mon compte
                    li 
                        a(href="/account/basket") Mon panier
                    li 
                        a(href="/account/orders") Mes commandes
                    li
                        a(href='/account/profile') Mes informations
                    //-li 
                        a(href="/account/addresses") Mes adresses
                    li
                        a(href='/account/security') Sécurité et connexion
        hr
        div.row
            if(typeof app.locals.applications !== "undefined")
              each apps in app.locals.applications
                if(apps.is_widget)
                  a(href=apps.host)
                    div.logo(style="background-image:url("+apps.logo+"); background-size:contain;")
        hr
        script(src="/node_modules/jquery/dist/jquery.min.js?v="+app.locals.version)
        script(src="/node_modules/underscore/underscore-min.js?v="+app.locals.version)
        
        script(src="/public/javascripts/idkids-sdk/idkids-sdk.min.js?v="+app.locals.version)
        script(src="/public/javascripts/contact.min.js?v="+app.locals.version) 
        script(src="/public/javascripts/coupon_code.min.js?v="+app.locals.version) 
        script(src="/public/javascripts/components/popeye.min.js?v="+app.locals.version)
        //-link(rel='stylesheet', href='/public/stylesheets/components/popeye.min.css')
        script(src="/public/javascripts/index.min.js?v="+app.locals.version)
        if(js)
            each val in js
                script(src=val) 
        script(src="/node_modules/fingerprintjs2/dist/fingerprint2.min.js?v="+app.locals.version)
        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-119254190-1")
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-119254190-1');
        
