doctype html
html
  head
    title= title
    meta(name='viewport' content ='width=device-width, initial-scale=1, user-scalable=no')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content ='IE=edge')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    link(rel='stylesheet', href='/stylesheets/idkids-sdk/idkids-sdk.min.css')
    link(rel='stylesheet', href='/public/fonts/dist/idkids-icons.min.css')
    if(css)
        each val in css
            link(rel='stylesheet', href=val)
  body
    block content
    script(src="/node_modules/jquery/dist/jquery.min.js")
    if(js)
        each val in js
            script(src=val)
            
