block notifs
    li#notifications
        div.icon.icon-notifications.idkids-icons.lg
        div.subnav
            ul
                li
                    div.icon.idkids-icons.icon-basket
                    span Mon panier (0)
                li
                    div.icon.idkids-icons.icon-delivery
                    span Mes livraisons (0)
                li
                    div.icon.idkids-icons.icon-email
                    span Mes messages (0)