block notifs
    li#notifications
        a(href="#")
            div.indice 0
            div.icon.icon-notifications.idkids-icons.lg
        div.subnav
            ul
                li
                    a(href="/account/basket")
                      div.icon.idkids-icons.icon-basket
                      span Mon panier
                      span(id="total_basket") (0)  
                li
                    a(href="/account/orders")
                      div.icon.idkids-icons.icon-delivery
                      span Mes Commandes
                      span(id="total_orders") (0)
                li
                    a(href="/account/messages")
                      div.icon.idkids-icons.icon-email
                      span Mes messages
                      span(id="total_messages") (0)
