doctype html
html(width="100%" height="100%" style="width:100%; height:100%; margin:0; padding:0;")
  head
    title= title
    meta(name='viewport' content ='width=device-width, initial-scale=1, user-scalable=no')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content ='IE=edge')
      
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    if(css)
        each val in css
            link(rel='stylesheet', href=val)
  body(width="100%" height="100%" style="width:100%; height:100%; margin:0; padding:0;")
    div.logo.brand.centered(style="width:250px; height:60px; left:0; right:0; top:0; bottom:0; margin:auto !important; position:absolute;")
    //-img(src="images/assets/logo_idkidscommunity_sbrame.svg" width="300" height="200" style="position:absolute;left: 0;margin: auto;right: 0;top: 0;bottom: 0;")
        
