block widgets
    li#widgets.widgets
        a(href="#")
            div.icon.icon-widgets.idkids-icons.lg
        div.subnav.widgets
            ul
              if(typeof app.locals.applications !== "undefined")
                each apps in app.locals.applications
                  a(href=apps.host target="_blank")
                    li
                      div.icon(style="background-image:url("+apps.icon+"); background-size:contain;")
                      span= apps.short_name
                
